Source: openems
Section: unknown
Priority: optional
Maintainer: MATEO SIERRA <mateo.sierra@c3.itm.edu.co>
Build-Depends: debhelper (>= 9), cmake, build-essential, git, libhdf5-dev, libvtk5-dev, libboost-all-dev, libcgal-dev, libtinyxml-dev, libqt4-dev, libvtk5-qt4-dev
Standards-Version: 3.9.5
Homepage: http://openems.de/start/index.php     

Package: openems 
Architecture: all
Depends: ${misc:Depends}  
Description: Empaquetamiento de openEms
 openEMS is a free and open electromagnetic field solver using the FDTD method
